// COLORS

$primary: #91adc2;
$secondary: #c0d684;

$primary-tint1: #bdceda;
$primary-tint2: #dee6ed;
$primary-shade1: #2b343a;
$primary-shade2: #576874;
$secondary-shade: #4d5635;

// BREAKPOINTS

$small: 480px;
$medium: 768px;
$large: 1200px;
